<h1>Author details</h1>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ author.username }}</td>
            <td>{{ author.email }}</td>
        </tr>
    </tbody>
</table>
